<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: left">
  <input type="checkbox"
  id="graph-toggle-match-keys" name="graph-toggle-match-keys"
  [checked]="showGraphMatchKeys"
  (change)="toggleGraphMatchKeys($event)"><label for="graph-toggle-match-keys">Toggle Match Keys</label>

  <div class="test-wrapper">
    <sz-graph-test-component></sz-graph-test-component>
  </div>
  <sz-relationship-network
  svgWidth=100%
  svgHeight=900
  port=8080
  entityIds="1,1005"
  maxDegrees=3
  buildOut=2
  [filter]="entityNodeFilters"
  [highlight]="entityNodeModifiers"
  [showLinkLabels]="showGraphMatchKeys"
  (contextMenuClick)="onContextMenuClick($event)"
  maxEntities=1000>
  </sz-relationship-network>
</div>


